<div class="mx-w-7xl mx-auto">
      <h1 class="text-2xl font-bold text-center p-3">
      Task Manager
      </h1>
      <div class="grid grid-cols-4 gap-4 px-4">

        <app-task-form></app-task-form>

        <app-task-list [tasks]="todoItems()" [heading]="'Todo'"></app-task-list>
        <app-task-list [tasks]="inProgressItems()" [heading]="'In progress'"></app-task-list>
        <app-task-list [tasks]="completedItems()" [heading]="'Completed'"></app-task-list>

        <!-- @for (item of todoItems(); track $index){
          <p>{{item.task}} {{item.status}}</p>
        }

        @for (item of inProgressItems(); track $index){
          <p>{{item.task}} {{item.status}}</p>
        }

        @for (item of completedItems(); track $index){
          <p>{{item.task}} {{item.status}}</p>
        } -->

      </div>
 
</div>